{% extends "base.html" %}
{% block content %}
<img src="static/img/ducclogotransparent.png" width="200px">
<div class="row">
    <div class="column">
        <h1>About D.U.C.C.</h1>
        <p class="column-text">D.U.C.C. (Dermatological Underlying Cancer Classification) is a tool for users to determine the likelihood
            of a skin lesion being malignant. The user uploads a picture of the lesion, and it is classified as malignant
            or benign using machine learning. Regular use of D.U.C.C. can help users recognize melanoma early, increasing
            chances of the disease being treatable.</p>
    </div>
    <div class="column">
        <h1>Why?</h1>
        <p class="column-text">Melanoma is the most deadly type of skin cancer. It occurs when the pigment-producing cells in the skin become
            cancerous. According to the American Cancer Society, about 97,610 new melanomas will be diagnosed in 2023. Melanoma 
            becomes more difficult to treat the deeper it spreads into the skin;
            regular skin examinations are key to recognizing melanoma in its early stages. </p>
    </div>
  </div>
</div>
{% endblock %}