{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="body-text">
    <p>Melanoma is the most deadly type of skin cancer. It occurs when the pigment-producing cells in the skin become
        cancerous. Additionally, a person has a 1 in 17 chance of being diagnosed 
        with melanoma by the age of 85. Melanoma becomes more difficult to treat the deeper it spreads into the skin;
        regular skin examinations are key to recognizing melanoma in its early stages. </p>
    <p>D.U.C.C. (dermatological underlying cancer classification) is a tool for users to determine the likelihood
        of a skin lesion being malignant. The user uploads a picture of the lesion, and it is classified as malignant
        or benign using machine learning. Regular use of D.U.C.C. can increase the chance of melanoma being recognized
        early, thus decreasing the mortality rate of skin cancer.</p>
</div>
{% endblock %}