{% extends 'base.html' %}

{% block title %}
<h1>Using D.U.C.C.</h1>
{% endblock %}

{% block content %}
<div class="body-text">
    <p>1. Take a photograph of the suspected cancerous lesion. Make sure the lesion is centered in the frame,
        and clearly visible. View the example below:</p>
    <img src="/static/img/photographexample.png" alt="brown skin lesion">
    <p>2. Upload the image to D.U.C.C. using the <a href="./upload" class="link">upload</a> page. Press "submit" to receive
        your results.</p>
</div>
{% endblock %}